<!--suppress HtmlUnknownAnchorTarget, HtmlUnknownTarget -->

<div class="relative-header">
    <!--<div class="menu-wrapper">
        <ul class="menu">
            <li data-menuanchor="menuAnchor1" class="active"><a href="#menuAnchor1">First section</a></li>
            <li data-menuanchor="menuAnchor2"><a href="#/menuAnchor2">Second section</a></li>
            <li data-menuanchor="menuAnchor3"><a href="#/menuAnchor3">Third section</a></li>
            <li data-menuanchor="menuAnchor4"><a href="#/menuAnchor4">Fourth section</a></li>
            <li data-menuanchor="menuAnchor5"><a href="#/menuAnchor5">Fifth section</a></li>
            <li data-menuanchor="menuAnchor6"><a href="#/menuAnchor6">Sixth section</a></li>
        </ul>
    </div>-->
    <div [mnFullpage]="options" [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true"
        [mnFullpageSlidesNavPosition]="bottom" class="">
        <div class="section welcome-section fp-section fp-table">
            <div class="fp-tableCell">
                <div style="position:relative; height:100%; width:100%;">

                    <iframe style="width: 100%;height: 100%;position: relative" autoScrolling="false" width="100%" height="100%" [src]="url"
                        scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>></iframe>
                </div>
            </div>
        </div>
        <div class="section install-section fp-section fp-table">
            <div class="fp-tableCell">
                <div class="code-block">
                    <pre>
                        Test1 
                    </pre>
                </div>
            </div>
        </div>
        <div class="section usage-section fp-section fp-table">
            <div class="fp-tableCell">
                Test2
                <div class="slide">
                    <pre>
                      Slide 1
                    </pre>
                </div>
                <div class="slide">
                    <h1> Slide 2 </h1>
                    <div class="code-block">
                        <pre>
                </pre>
                    </div>
                </div>
                <div class="slide">
                    <h1>Slide 3</h1>
                    <div class="code-block">
                        <pre>
                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="section slides-section fp-section fp-table">
            <div class="fp-tableCell">
                <div class="slide">
                    <h1>Test3</h1>
                    <h4>Use keyboard arrows or navigation below to slide right</h4>
                </div>
                <div class="slide">
                    <h1>Slide1</h1>
                    <div class="code-block">
                        <pre>
                    </pre>
                    </div>
                </div>
                <div class="slide">
                    <h1>Slide2</h1>
                    <div class="code-block">
                        <pre>
                    </pre>
                    </div>
                </div>
                <div class="slide">
                    <h1>Slide3</h1>
                    <div class="code-block">
                        <pre>
                    </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="section usage-section fp-section fp-table">
            <div class="fp-tableCell">
                <h1>Control the page</h1>
                <div class="code-block">
                    <pre>
                    </pre>
                </div>
                <div>
                    <button (click)="fullpageService.moveSectionUp();">Move section up</button>
                    <button (click)="fullpageService.moveSectionDown();">Move section down</button>
                </div>
            </div>
        </div>
        <div class="section start-use-it-now-section fp-section fp-table">
            <div class="fp-tableCell">
                <pre>
                    </pre>
            </div>
        </div>
    </div>
</div>